<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>Status</th>
    <th>Reference</th>
    <th>Customer name</th>
    <th>Customer email</th>
    <th>Assigned to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.subject %></td>
    <td><%= ticket.body %></td>
    <td><%= ticket.status.name %></td>
    <td><%= ticket.reference %></td>
    <td><%= ticket.customer_name %></td>
    <td><%= ticket.customer_email %></td>
    <% if ticket.user.nil?%>
      <td></td>
    <% else %>
      <td><%= ticket.user.full_name %></td>
    <% end %>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
