%p#notice= notice

%p
  %b Subject:
  = @ticket.subject

%p
  %b Body:
  = @ticket.body

%p
  %b Status:
  = @ticket.status.name

%p
  %b Reference:
  = @ticket.reference

%p
  %b Customer name:
  = @ticket.customer_name

%p
  %b Customer email
  = @ticket.customer_email

%p
  %b Assigned to:
  = @ticket.assigned_to_id
  
  - if @ticket.user.nil?
    &#8211;
  - else
    = @ticket.user.full_name


= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path

%hr

.comments_block
  %h3 Comments
  = render :partial => 'comment', :collection => @ticket.comments

%hr

= form_for @ticket, :remote => true do |f|
  - if user_signed_in?
    .splitcontentleft
      = f.label :status_id, "Status:"
      &nbsp;
      = collection_select(:ticket, :status_id, @ticket_statuses, :id, :name)
    
    .splitcontentright
      = f.label :assigned_to_id, "Assignee:"
      &nbsp;
      = collection_select(:ticket, :assigned_to_id, @users, :id, :full_name, {:include_blank => true})
    
    %br
   
  = f.fields_for :comments, @ticket.comments.build do |comment|
    %p
      = comment.label :body
      %br
      = comment.text_area :body, :cols => "70", :rows => "10"
      
      = comment.hidden_field :name, :value => comment_name
  
  = f.submit "Update"
