<!DOCTYPE html>
<html>
<head>
  <title>IssueTraker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <ul class="hmenu">
      <%= render 'devise/menu/login_items' %>
    </ul>
    
    <% if user_signed_in? %>
      <div id="search">
        <%= render :partial => 'search/search_form' %>
      </div>
    <% end %>
  </div>
  
  
  <div id="side">
    <%= link_to 'New ticket', new_ticket_path %> <br />
    <% if user_signed_in? %>
      <%= link_to 'All tickets', tickets_path %> <br />
      <%= link_to 'New unassigned tickets', tickets_path(:scope => "unassigned") %> <br />
      <%= link_to 'Open tickets', tickets_path(:scope => "open") %> <br />
      <%= link_to 'On hold tickets', tickets_path(:scope => "on_hold") %> <br />
      <%= link_to 'Closed tickets', tickets_path(:scope => "closed") %> <br />
    <% end %>
  </div>
  

  <div id="main">
        <%= yield %>
  </div>

</body>
</html>
