!!!
%html
%head
  %title IssueTraker
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  #header
    %ul.hmenu
      = render 'devise/menu/login_items'
    
    - if user_signed_in?
      #search
        = render :partial => 'search/search_form'
  
  #side
    = link_to 'New ticket', new_ticket_path 
    %br
    - if user_signed_in?
      = link_to 'All tickets', tickets_path 
      %br
      = link_to 'New unassigned tickets', tickets_path(:scope => "unassigned") 
      %br
      = link_to 'Open tickets', tickets_path(:scope => "open") 
      %br
      = link_to 'On hold tickets', tickets_path(:scope => "on_hold")
      %br
      = link_to 'Closed tickets', tickets_path(:scope => "closed") 
      %br
  
  #main
    = yield
